# Actividad Clase 3: Datos complejos

## Crea una lista de nombre de ciudades

In [1]:
ciudades = ["New York", "Paris", "Londres", "Tokio", "Roma", "Madrid"]


print(ciudades)

['New York', 'Paris', 'Londres', 'Tokio', 'Roma', 'Madrid']

## Diccionario de empleados que incluya el nombre, cargo y salario

In [2]:
empleados = {
    1: {"nombre": "Juan", "cargo": "Gerente", "salario": 50000},
    2: {"nombre": "María", "cargo": "Analista", "salario": 40000},
    3: {"nombre": "Pedro", "cargo": "Desarrollador", "salario": 35000},
    4: {"nombre": "Laura", "cargo": "Diseñadora", "salario": 38000},
    5: {"nombre": "Carlos", "cargo": "Contador", "salario": 45000}
}

print("Información de los empleados:")
for id_empleado, info_empleado in empleados.items():
    print("ID: {}, Nombre: {}, Cargo: {}, Salario: ${}".format(id_empleado, info_empleado['nombre'], info_empleado['cargo'], info_empleado['salario']))

Información de los empleados:
ID: 1, Nombre: Juan, Cargo: Gerente, Salario: $50000
ID: 2, Nombre: María, Cargo: Analista, Salario: $40000
ID: 3, Nombre: Pedro, Cargo: Desarrollador, Salario: $35000
ID: 4, Nombre: Laura, Cargo: Diseñadora, Salario: $38000
ID: 5, Nombre: Carlos, Cargo: Contador, Salario: $45000

## Como acceder a un elemento específico en una lista

In [3]:
ciudades = ["Nueva York", "París", "Londres", "Tokio", "Roma", "Sídney"]

print(ciudades[2])

Londres

## Como acceder a un elemento específico de un diccionario

In [4]:
empleados = {
    "juan": {"nombre": "Juan", "cargo": "Gerente", "salario": 50000},
    "maria": {"nombre": "María", "cargo": "Analista", "salario": 40000},
    "pedro": {"nombre": "Pedro", "cargo": "Desarrollador", "salario": 35000}
}

info_pedro = empleados["pedro"]
print("Información de María:", info_pedro)

Información de María: {'nombre': 'Pedro', 'cargo': 'Desarrollador', 'salario': 35000}

# Manipulación de listas

## Crear una lista inicial de números enteros

In [5]:
numeros = [1, 3, 5, 7, 9]
print(numeros)

[1, 3, 5, 7, 9]

## Utilizar el método .append() para agregar un número al final de la lista

In [6]:
numeros = [1, 3, 5, 7, 9]
numeros.append(11)
print(numeros)

[1, 3, 5, 7, 9, 11]

## Utilizar el método .extend() para agregar múltiples elementos a la lista

In [7]:
numeros = [1, 3, 5, 7, 9]
numeros.extend([13, 15, 17])
print(numeros)

[1, 3, 5, 7, 9, 13, 15, 17]

## Utilizar el método .insert() para insertar un número en una posición específica de la lista

In [8]:
numeros = [1, 3, 5, 7, 9]
numeros.insert(2, 4)
print(numeros)

[1, 3, 4, 5, 7, 9]

## Mostrar la lista antes de ordenar

In [9]:
numeros = [1, 5, 3, 9, 7]
print("Lista antes de ordenar:", numeros)

Lista antes de ordenar: [1, 5, 3, 9, 7]

## Utilizar el método .sort() para ordenar la lista de números de forma ascendente

In [10]:
numeros = [1, 5, 3, 9, 7]
numeros.sort()
print(numeros)

[1, 3, 5, 7, 9]

# Manipulación de diccionarios

## Crear el diccionario de productos

In [11]:
productos = {
    "Camiseta": {"precio": 20, "cantidad": 50},
    "Pantalón": {"precio": 30, "cantidad": 40},
    "Zapatos": {"precio": 50, "cantidad": 20}
}

## Obtener una lista de los nombres de productos

In [12]:
productos = {
    "Camiseta": {"precio": 20, "cantidad": 50},
    "Pantalón": {"precio": 30, "cantidad": 40},
    "Zapatos": {"precio": 50, "cantidad": 20}
}

nombres_productos = productos.keys()
print("Nombres de productos:", list(nombres_productos))

Nombres de productos: ['Camiseta', 'Pantalón', 'Zapatos']

## Obtener una lista de precios y cantidades

In [13]:
productos = {
    "Camiseta": {"precio": 20, "cantidad": 50},
    "Pantalón": {"precio": 30, "cantidad": 40},
    "Zapatos": {"precio": 50, "cantidad": 20}
}

precios_cantidades = productos.values()
print("Precios y cantidades:", list(precios_cantidades))

Precios y cantidades: [{'precio': 20, 'cantidad': 50}, {'precio': 30, 'cantidad': 40}, {'precio': 50, 'cantidad': 20}]

## Obtener una lista de tuplas con pares clave-valor

In [14]:
productos = {
    "Camiseta": {"precio": 20, "cantidad": 50},
    "Pantalón": {"precio": 30, "cantidad": 40},
    "Zapatos": {"precio": 50, "cantidad": 20}
}

nombres_productos = productos.keys()
print("Nombres de productos:", list(nombres_productos))
precios_cantidades = productos.values()
print("Precios y cantidades:", list(precios_cantidades))
items_productos = productos.items()
print("Productos:", list(items_productos))

Nombres de productos: ['Camiseta', 'Pantalón', 'Zapatos']
Precios y cantidades: [{'precio': 20, 'cantidad': 50}, {'precio': 30, 'cantidad': 40}, {'precio': 50, 'cantidad': 20}]
Productos: [('Camiseta', {'precio': 20, 'cantidad': 50}), ('Pantalón', {'precio': 30, 'cantidad': 40}), ('Zapatos', {'precio': 50, 'cantidad': 20})]

## Obtener el precio de un producto específico utilizando el método .get()

In [15]:
productos = {
    "Camiseta": {"precio": 20, "cantidad": 50},
    "Pantalón": {"precio": 30, "cantidad": 40},
    "Zapatos": {"precio": 50, "cantidad": 20}
}

nombres_productos = productos.keys()
print("Nombres de productos:", list(nombres_productos))
precios_cantidades = productos.values()
print("Precios y cantidades:", list(precios_cantidades))
items_productos = productos.items()
print("Productos:", list(items_productos))

producto_buscado = "Camiseta"
precio_camiseta = productos.get(producto_buscado, {}).get("precio", "Producto no encontrado")
print("Precio de", producto_buscado + ":", precio_camiseta)

Nombres de productos: ['Camiseta', 'Pantalón', 'Zapatos']
Precios y cantidades: [{'precio': 20, 'cantidad': 50}, {'precio': 30, 'cantidad': 40}, {'precio': 50, 'cantidad': 20}]
Productos: [('Camiseta', {'precio': 20, 'cantidad': 50}), ('Pantalón', {'precio': 30, 'cantidad': 40}), ('Zapatos', {'precio': 50, 'cantidad': 20})]
Precio de Camiseta: 20

# Datos complejos:

## Crear una lista de diccionarios que represente información de libros (título, autor, año de publicación).

In [16]:
libros = [
    {"título": "Cien años de soledad", "autor": "Gabriel García Márquez", "año_publicación": 1967},
    {"título": "1984", "autor": "George Orwell", "año_publicación": 1949},
    {"título": "El principito", "autor": "Antoine de Saint-Exupéry", "año_publicación": 1943}
]

## Crear un diccionario que contenga listas como valores (por ejemplo, un diccionario de estudiantes y sus materias).

In [17]:
estudiantes = {
    "Juan": ["Matemáticas", "Física", "Química"],
    "María": ["Historia", "Literatura", "Geografía"],
    "Pedro": ["Programación", "Base de datos", "Redes"]
}

## Mostrar cómo modificar un valor en una lista dentro de un diccionario y viceversa.

In [18]:
libros = [
    {"título": "Cien años de soledad", "autor": "Gabriel García Márquez", "año_publicación": 1967},
    {"título": "1984", "autor": "George Orwell", "año_publicación": 1949},
    {"título": "El principito", "autor": "Antoine de Saint-Exupéry", "año_publicación": 1943}
]

libros[0]["autor"] = "Nicolás Maquiavelo"

In [19]:
estudiantes = {
    "Juan": ["Matemáticas", "Física", "Química"],
    "María": ["Historia", "Literatura", "Geografía"],
    "Pedro": ["Programación", "Base de datos", "Redes"]
}

estudiantes["María"][1] = "Biología"